<p>We received a request for a password reset for your Happy Fridge account.</p>

<p>If this is correct, please <%=link_to 'click here', password_reset_url%> to reset your password:</p>

<p>If you didn't make this request, please let us know.</p>

<p>Cheers,</p>
<p>The team at Happy Fridge</p>
