<% content_for :body_class, 'forgot-password' %>

<h1>Forgot Password?</h1>

<%=form_with url: send_email_path, method: :post, local: true do |f|%>
<%=f.label :email%>
<%=f.email_field :email%>
<%=f.submit 'Submit'%>
<%end%>